<html>
<head>
  <title>Control de Asistencia de {{obj.evento.nombre }}</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
    }
    .text-1 {
      text-align: center;
    }
  </style>
</head>
  <body>
    <h1 class="text-1">Control de Inscritos de {{ obj.evento.nombre  }}</h1>
    <table>
      <tr>
        <th>Inscritos</th>
        <th>Monto de Pago</th>
        <th>Actividades</th>
      </tr>
      {% for inscrito in inscripciones %}
      <tr>
        <td>{{ inscrito.nombre }} {{inscrito.apellido}}</td>
        <td>{{inscrito.monto}}$</td>
        <td> 
          <li>
            {% for actividad in inscrito.actividades.all %}
            <lu> {{actividad.nombre}} </lu>
            {% endfor %}
          </li>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>