<html>
<head>
  <title>Control de Asistencia de {{obj.evento.nombre }}</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
    }
    .text-right {
      text-align: right;
    }
  </style>
</head>
  <body>
    <h1 class="text-right">Control de Inscritos de {{ obj.evento.nombre  }}</h1>
    <p>Inscritos:</p>
    {% for inscrito in inscripciones %}
    <p>{{ inscrito.nombre }} {{inscrito.apellido}}, monto de pago: {{inscrito.monto}}$, actividades :</p>
    <li>
      {% for actividad in inscrito.actividades.all %}
      <lu> {{actividad.nombre}} </lu>
      {% endfor %}
    </li>
    {% endfor %}
  </body>
</html>