<html>
<head>
  <title>Control de Materiales de {{obj.actividad.nombre }}</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
    }
    .text-1 {
      text-align: center;
    }
  </style>
</head>
  <body>
    <h1 class="text-1">Control de Materiales de {{obj.actividad.nombre }}</h1>
    <table>
      <tr>
        <th>Materiales Entregados</th>
      </tr>
      {% for material in obj.materiales.all %}
      <tr>
        <td>{{ material }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>