<html>
<head>
  <title>Control de Materiales de {{obj.actividad.nombre }}</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
    }
    .text-right {
      text-align: right;
    }
  </style>
</head>
  <body>
    <h1 class="text-right">Control de Materiales de {{obj.actividad.nombre }}</h1>
    <p>Materiales Entregados:</p>
    {% for material in obj.materiales.all %}
    <p>{{ material }}</p>
    {% endfor %}
  </body>
</html>