{% load static %}
{% load staticfiles %}
<!DOCTYPE HTML>

<html>

<head>
	<title>GENESIS Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<noscript>
		<link rel="stylesheet" href="{% static 'css/noscript.css' %}"></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="{% url 'type_event_list' %}" class="logo"><strong>GENESIS</strong> <span>Project</span></a>
		</header>


		<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major"></header>
				<img src="{% static 'images/genesisTEXT.png' %}" alt="" />
				</header>
				<div class="content">
					<p>Todo tipo de eventos, ya sean conferencias, conciertos, congresos...<br />
						Eventos de diversas naturalezas: académicos, recreativos, culturales y muchos más.</p>
				</div>
			</div>
		</section>

		<!-- Main -->
		<div id="main">
			<!-- One -->
			<section id="one" class="tiles">
				{% for tipo in tipos %}
				<article>
					<header class="major">
						<h3><a href="{% url 'event_list' pk=tipo.pk %}" class="link">Eventos de {{ tipo }}</a></h3>
						<p>{{tipo.descripcion}}</p>
					</header>
				</article>
				{% empty%}
				{% if mensaje %}
				<h3>Inscripcion exitosa</h3>	
				{% else %}
				<h3>Todavía no hay eventos de este tipo, regresa más tarde.</h3>
				{% endif %}
				{% endfor %}

			</section>


		</div>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="copyright">
					<li>&copy; Untitled</li>
					<li>Design: <a href="https://html5up.net">HTML5 UP</a></li><br />
					<li>&copy; Untitled</li>
					<li>Adapted: Genesis</a></li>
				</ul>
			</div>
		</footer>

	</div>



</body>

</html>